/* Header Styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    // padding: 10px;
    height: 60px;
    text-align: center;
    z-index: 1000;
    box-shadow: #007bff 0px 0px 20px;
  }


  @media screen and (max-width: 768px) {
    .header-title{
      display: none;
    }
  }